* {
  padding: 0px;
  margin: 0px;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  background-color: #f0f2f5;
}
.container {
  padding-top: 72px;
  padding-bottom: 112px;
  background-color: #f0f2f5;
  width: 100vw;
  height: 100vh;
}
/* Card uper div */
.allcontent {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Logo and related down content */
.img {
  width: 400px;
  height: 259.55px;
  padding-top: 112px;
  padding-bottom: 16px;
  padding-left: 100px;
}
.fb_logo {
  margin: 0 0 0.8rem 1.6rem;
}
/* Logo down write */
.leftside {
  margin: 0px auto;
}
.heading {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  width: 35vw;

  font-weight: normal;
  margin: 0px 30px;
}
/* Log in signup */
.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 450px;
  height: 370px;
  position: absolute;
  top: 22%;
  left: 55vw;
  padding-top: 10px;
  padding-bottom: 24px;
  text-align: center;
}
a {
  text-decoration: none;
}
input {
  margin: 10px;
  padding: 12px;
}
#email,
#password {
  border: 1px solid #dddfe2;
  color: #1d2129;
  font-size: 17px;
  padding: 14px 16px;
  width: 400px;
  border-radius: 6px;
}
.login {
  font-size: 17px;
  border-radius: 6px;
  border: 1px solid rgba(22, 111, 229, 0.1);
  background-color: #166fe5;
  width: 400px;
  text-decoration: none;
  color: white;
  transition: step-start 0.3s;
}
.login:hover {
  opacity: 0.9;
  border-color: #365899;
}
.forgot-pswd {
  margin-top: 16px;
  color: #1877f2;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  line-height: 1.34;
}
.forgot-pswd:hover {
  text-decoration: underline;
}
hr {
  border: none;
  border-bottom: 1px solid #dadde1;
  margin: 20px 16px;
}
.newAccount {
  font-size: 17px;
  border: 1px solid #36a420;
  border-radius: 6px;
  background-color: #36a420;
  width: 200.25px;
  height: 48px;
  padding: 0 16px;
  text-decoration: none;
  color: white;
  transition: step-start 0.3s;
}
.newAccount:hover {
  background-color: #36a420;
  opacity: 0.9;
  border-color: #36a420;
}
/* Create page and other brand */
p {
  margin-top: 90px;
  /* position: absolute;
  bottom: 15%;
  right: 19vw; */
}
p a {
  color: black;
}
p a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 1080px) {
  .heading {
    font-size: 1.3rem;
  }
  .card {
    left: 49%;
  }
}
@media only screen and (max-width: 900px) {
  .heading {
    position: absolute;
    left: 9%;
    width: 48vw;
    font-size: 1.6rem;
  }
  .img {
    position: absolute;
    top: -15%;
    left: 30%;
  }

  .card {
    top: 32%;
    left: 35%;
  }
}
@media only screen and (max-width: 786px) {
  .card {
    top: 32%;
    left: 25%;
  }
  .heading {
    left: 16%;
    font-size: 22px;
    width: 50vw;
  }
  .img {
    position: absolute;
    top: -15%;
    left: 20%;
  }
}

@media only screen and (max-width: 650px) {
  .card {
    top: 32%;
    left: 15%;
  }
  .heading {
    left: 17%;
    font-size: 20px;
    width: 60vw;
  }
  .img {
    position: absolute;
    top: -15%;
    left: 8%;
  }
}

@media only screen and (max-width: 546px) {
  .card {
    top: 32%;
    left: 10%;
  }
  .img {
    position: absolute;
    top: -15%;
    left: 5%;
  }
}

@media only screen and (max-width: 500px) {
  .card {
    top: 32%;
    left: 5%;
  }
  .img {
    position: absolute;
    top: -15%;
    left: 0%;
  }
  .heading {
    font-size: 18px;
    width: 60vw;
  }
}
@media only screen and (max-width: 480px) {
  .forgot {
    width: 70vw;
    margin-left: 34px;
  }
  .card {
    width: 0px;
  }
  .img {
    position: absolute;
    top: -3%;
    left: -2vw;
  }
  .fb_logo {
    width: 200px;
    margin: 0 0 0 0;
  }
  .heading {
    font-size: 0px;
    width: 0vw;
  }
  #email,
  #password,
  .login {
    width: 80vw;
    font-size: 15px;
  }
  .newAccount {
    width: 40vw;
    margin-left: 22vw;
  }
  p {
    position: absolute;
    top: 72%;
    width: 80vw;
  }
}
@media only screen and (max-width: 350px) {
  .img {
    position: absolute;
    top: -3%;
    left: -15vw;
  }
}
@media only screen and (max-width: 320px) {
  .img {
    position: absolute;
    top: -3%;
    left: -20vw;
  }
  #email,
  #password,
  .newAccount {
    font-size: 14px;
  }
}
@media only screen and (max-width: 320px) {
  .img {
    left: -20vw;
  }
  #email,
  #password,
  .newAccount,
  p,
  .login,
  .forgot-pswd {
    font-size: 12px;
  }
  .forgot {
    margin-left: 24px;
  }
  .newAccount {
    margin-left: 50px;
    width: 50vw;
  }
}
@media only screen and (max-width: 290px) {
  .img {
    overflow: hidden;
    left: -23vw;
  }
}
